<table class="offer-table striped">
    <thead>
        <td>
            Item
        </td>
        <td>
            Montant</td>
    </thead>
    <tbody <% _.each( cart.get( 'books'), function( book, i ){ %>
        <tr>
            <td>
                <%= book.title %>
            </td>
            <td>
                <%= book.price %> €</td>
        </tr>
        <% }) %>
            <tr>
                <td>Total avant remise</td>
                <td>
                    <%= cart.get('totalPrice') %> €</td>
            </tr>
            <tr class="green lighten-4">
                <td>Meilleur remise applicable</td>
                <td>
                    -
                    <%= lowestOffer.offerValue %>
                        <%= lowestOffer.offerUnit %>
                </td>
            </tr>
            <tr>
                <td>Total à payer</td>
                <td>
                    <%= lowestOffer.priceAfterOffer %> € (soit
                        <%= Math.round((cart.get('totalPrice') - lowestOffer.priceAfterOffer) * 100) / 100 %> € d'économies !)</td>
            </tr>
    </tbody>
</table>