.hidden-btn {
    display: none;
}

.centered-submit-btn {
    text-align: center;
    padding: 1em;
}

.isbn-text {
    font-size: x-small;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(font/Material-Design-Icons.woff2) format('woff2');
}

.breadcrumb-nav {
    margin: 1em 0;
    padding: 0 1em;
}

.offer-table {
    width: 50%;
    margin: 0 auto; 
}

#toast-container .toast {
    background-color: #b71c1c;
}

.mobile-view-books {
    display: none;
}

.desktop-view-books {
    display: block;
}